/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Homepage */
.front-page {
	h2 {
		font-weight: 400;
		font-size: 30px;
		text-align: center;
	}
}


/* Homepage Shop Section */
.shop-term {
	width: 23.5%;
	border: 1px solid #d6d6d6;
	border-top: 4px solid #d6d6d6;
	padding: 15px;
	img {
		height: 55px;
	}
}

/* Homepage Journal Section */
.journal-post {
	border: 1px solid #d6d6d6;
	width: 32%;
	img {
		width: 100%;
		height: 18vw;
		border-bottom: 4px solid #d6d6d6;
	}
	.journal-info {
		flex: 1;
		position: relative;
		padding: 15px;
		p {
			margin: 5px 0;
			font-size: 12px;
		}
		h3 {
			color: $color_primary;
			margin: 5px 0;
			letter-spacing: 0.5px;
			margin-bottom: 50px;
		}
		a {
			position: absolute;
			bottom: 15px;
		}
	}
}

/* Homepage Adventure Section */
.adventure-home-post {
	padding: 50px 20px;
	h2 {
		font-weight: 400;
		text-transform: none;
		letter-spacing: .5px;
		line-height: 1.2;
		text-align: initial;
		font-family: $primary_serif;
	}
}

.adventure-1 {
	height: 100%;
	h2 {
		font-size: 50px;
	}
}
.adventure-2 {
	height: 100%;
	h2 {
		font-size: 40px;
	}
}
.adventure-3 {
	width: 48%;
	h2 {
		font-size: 30px;
	}
}
.adventure-4 {
	width: 48%; 
	h2 {
		font-size: 30px;
	}
}

.adventure-col {
	width: 49%;
	height: 40vw;
	color: #fff;
}
.adventure-row {
	height: 48%;
}
/* Adventure Archive Page */
.adventures-page {
	h2 {
		font-size: 45px;
		width: 90%;
	}
}

.adventure-archive-post {
	padding: 50px 20px;
	height: 35vw;
	margin-bottom: 25px;
	color: #fff;
	box-sizing: border-box;
	padding: 25px 30px;
	h2 {
		font-weight: 400;
		text-transform: none;
		letter-spacing: .5px;
		line-height: 1.2;
		text-align: initial;
		font-family: $primary_serif;
	}
}

/* Single Adventure Page */
.single-adventure {
	h1 {
		margin: 0;
	}
	h4 {
		margin: 0;
		padding: 15px 0 5px;
	}
	.entry-content {
		margin: 0;
	}
}

/* Product Archive Page */
.archive-header {
	border-bottom: 1px dashed #d6d6d6;
	ul {

		li {
			display: inline;
			text-transform: uppercase;
			padding-left: 40px;
			a {
				color: $color_primary;
			}
		}
	}
	li:first-child {
		padding-left: 0;
	}
}
.product {
	margin-bottom: 40px;
	width: 23%;
	border: 1px solid #d6d6d6;
	a {
		color: #000;
	}
	img {
		width: 100%;
		height: 18vw;
    	object-fit: cover;
    	border-bottom: 4px solid #d6d6d6;
	}
	p {
		margin: 0;
	}
	.product-info {
		padding: 20px;
	}
}

/* Single Product Page */
.single-product {
	padding: 50px 0 100px;
}
.product-image, .product-details {
	width: 48.5%;
}
.product-details {
	h1 {
		color: #ce9869;
		padding: 0;
		margin: 0;
	}
	h2 {
		padding: 10px 0;
		margin: 0;
	}
	a {
		font-size: 13px;
		margin-right: 5px;
	}
}



.border-right-grey {
	border-right: 1px solid #d6d6d6; 
}

.orange {
	color: #ce9869;
}

.dotted-line {
	border-bottom: 2px dotted #000;
	margin: 0 4px 6px;

	flex: 1;
}



/* sidebar styling */
#secondary {
	width: 30%;
	padding: 40px 30px 0 60px;;
	font-family: $primary_serif;
	a {
		color: $color_primary;
		font-family: $primary_serif;
	}
	p {
		margin-bottom: 20px;
	}
	i {
		width: 20px;
	}
	aside {
		margin-bottom: 50px;
	}
}

/* Page without Sidebar */
.page-no-sidebar {
	padding-bottom: 60px;
	h1 {
		color: #fff;
		padding: 0;
		padding-top: 40px;
		margin-top: -50%;
		font-size: 50px;
	}
	.page-content {
		margin-top: 42%;
		h2 {
			text-align: center;
			font-size: 2.5rem;
		}
	}
}


/* Blog/Journal Archive Page */
.journal-page {
	.single-post-content {
		padding-bottom: 60px;
	}
}

/* Blog/Journal Post */
.single-post-image {
	width: 100%;
	height: 33vw;
	color: #fff;
	position: relative;
	h1 {
		position: absolute;
		top: 30px;
		display: inline-block;
		background-color: $color_primary;
		padding: 10px 20px;
		width: 65%;
		line-height: 1.2;
	}
	h4 {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 5px 10px;
		background-color: $color_primary;
		margin: 0;
	}
}
.single-post-content {
	padding-top: 15px;
}
.cat-links, .tags-links {
	font-family: $primary_sans_serif;
	text-transform: uppercase;
	a {
		color: $color-primary;
	}
}
.cat-links {
	padding-right: 20px;
}

#comments {
	font-family: $primary_serif;
	a {
		color: $color-primary;
	}	
	h3 {
		font-size: 25px;
	}
	cite {
		font-weight: 700;
	}
	img {
		border-radius: 50px;
	}
	article {
		padding: 20px 0;
		width: 100%;
	}
	.comment-list {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #d6d6d6;
	}
	.children {
		margin-left: 80px;
		border-top: 1px solid #d6d6d6;
	}
	.comment-body {
		display: flex;
	}
	.comment-author-avatar {
		padding-right: 30px;
	}
	.parent {
		border-bottom: 1px solid #d6d6d6;
	}
	.comment-metadata {
		color: #7f7f7f;
	}
	.comment-reply-link {
		font-family: $primary_serif;
	}
}

/* search page */
.search-page {
	h1 {
		padding: 20px 0;
		border-bottom: 1px solid #d6d6d6;
	}
	h2 {
		margin: 0;
		padding: 20px 0 0;
		font-size: 30px;
		a {
			color:$color_primary;
			font-weight: 700;
			margin-top: 20px;
		}
	}
}
#search {
	padding: 8px 12px;
}

/* 404 page */
.error-404 {
	h1 {
		padding: 20px 0;
	}
	a {
		color: $color-primary;
		font-family: $primary_serif;
	}
	h2 {
		padding-bottom: 0;
	}
	li {
		padding: 3px;
		font-size: 18px;
	}
}


/* Default Archive Page */
.archive-page {
	h1 {
		margin-bottom: 40px;
	}
	.single-post-content {
		padding-bottom: 60px;
	}
}