/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
	font-family: 'NovecentoSans';

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

nav {
	height: 60px;
	padding: 12px 0;
	.logo {
		height: 100%;
		margin-right: auto;
	}
	i {
		color: #fff;
	}
}
nav li {
	padding-left: 15px;
}

.banner-show {
	height: 100vh;
	a {
		color: #fff;
	}
	a:hover {
		color: #a0a0a0;
	}
}
.banner-hide {
	background: none;
	border-bottom: 1px solid #d6d6d6;
	a {
		color: $color_primary;
	}
	a:hover {
		color: #444444;
	}
	i {
		color: $color_primary;
	}
}

#widget_sp_image-2{
 	margin-left: auto;
 	img {
 		height: 60px;
 		width: auto;
 	}
}
.logo {
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		img {
			height: 40px;
			width: auto;
		}
	}
}
.green-logo li:nth-child(1) {
 	display:none;
}
.white-logo li:nth-child(2) {
    display: none;
}

/* nav search */
input[type="search"].search-field-hide {
	width: 0px;
	height: 35px;
	background-color: white;
	border: none;
	border-radius: 25px;
	transition: all 0.5s ease;
	margin: 0;
}
input[type="search"].search-field-show {
	width: 250px;
	height: 35px;
	color: #5b5b5b;
	padding-left: 20px;
	background-color: white;
	border: 1px solid #d6d6d6;
	border-radius: 25px;
	outline: none;
	margin: 0 15px;
	font-size: 1rem;
	transition: all 0.5s ease;
}
fieldset {
	padding: 0 10px;
	border: none;
}